@charset "UTF-8";

@font-face {
	font-family: 'UhBeeSe_hyun';
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff")
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SeoulHangangM';
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, html {
	height: 100%;
}

.navbar{
	display: block;
}


#navbarSupportedContent {
	position: relative;
}

.navbar-nav {
	position: absolute;
	right: 0;
}

.navbar-brand{
	margin: 0 0 0 2%;
	font-style: bold;
}

.i1 {
	position: relative;
	right: 30%;
}

.i2 {
	position: relative;
	right: 20%
}

.i3 {
	position: relative;
	right: 10%
}




#body {
	background-image: url("images/recom_back.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
#carouselExampleControls{
	height: 100%;
}
.carousel-inner{
	height: 100%;
}
.carousel-item{
	height: 100%;
}
.car-text{
	background-color: white;
	opacity: 0.7;
	width: 350px;
	height: 400px;
	position: absolute;
	top : 30%;
	left: 25%;
	border-radius: 10px;
	padding: 20px;
}
.car-pic{
	position: absolute;
	top : 40%;
	right: 25%;
	width: 300px;
	height: 200px;
}